<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My CV</title>
    <link rel="stylesheet" href="../app/app.component.css">

    <body>
        <H1>Welcome to my Webpage</H1>
        <h2>This serves as my CV</h2>
        <nav class="navigation">
            <ul>
                <li><a href="#history">Brief history</a></li>
                <li><a href="#Qualifications">Qualifications</a></li>
                <li><a href="#Certifications">Certifications</a></li>
                <li><a href="#Skills">Skills</a></li>
                <li><a href="#Stregnths and Weakneses">Stregnths and Weakneses</a></li>
                <li><a href="#Contacts">Contacts</a></li>
            </ul>
        </nav>
        <div class="content">
            <div id="history"></div>
            <div id="Qualifications"></div>
            <div id="Certifications"></div>
            <div id="Skills"></div>
            <div id="Stregnths and Weakneses"></div>
            <div id="Contacts">
                <footer></footer>
            </div>

        </div>
        
    </body>

</html>