<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My CV</title>
    <link rel="stylesheet" href="../app/app.component.css">

    <body>
        <H1>Welcome to my Webpage</H1>
        <h2>This serves as my CV</h2>
        <nav class="navigation">
            <ul>
                <li><a href="#history">Brief history</a></li>
                <li><a href="#Qualifications">Qualifications</a></li>
                <li><a href="#Certifications">Certifications</a></li>
                <li><a href="#Skills">Skills</a></li>
                <li><a href="#Stregnths and Weakneses">Stregnths and Weakneses</a></li>
                <li><a href="#Contacts">Contacts</a></li>
            </ul>
        </nav>
        <div class="content">
            <div id="history">
                <p>My name is {{title}}, I am {{age}} years old. I am currently a student in the University of Botswana as a Computer Science major. 
                    I am a Highly motivated and detail-oriented software developer with 3 years of experience in full-stack development, specializing in Angular and Node.js. 
                    Skilled in creating efficient, scalable web applications and integrating APIs to enhance functionality. Passionate about leveraging technology 
                    to solve real-world problems and continuously learning to stay updated with the latest industry trends. 
                    Effective communicator and collaborative team player, committed to delivering high-quality solutions within deadlines</p>
            </div>
            <div id="Qualifications">
                <ul>
                
                <li><img src="#" alt="IGCSE certificate">IGCSE certificate</li>
                <li><img src="#" alt="Transcript">BGCSE certificate</li>
                </ul>
            </div>
            <div id="Certifications"></div>
            <div id="Skills"></div>
            <div id="Stregnths and Weakneses">
                
            </div>
            <div id="Contacts">
                <footer> <p>Hello</p> </footer>
            </div>

        </div>
        
    </body>

</html>