h1, h2, li{
    align-self: center;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li{
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 14px;
    text-decoration: wavy;
}

/*To change the font colour when hovering*/
li a:hover{
    background-color: #4CAF50;
}
.active{
    background-color: #4CAF50;
}
#history{
    background-color: none;    
}

#Qualifications{
    
}
#content{
    grid-area: auto;
    padding: 1rem;
}

footer {
    grid-area: footer;
    background: #333;
    color: white;
    text-align: center;
    padding: 1rem;
  }